body {
  /* background-color: rgb(71, 60, 60); */
  margin: 0; 
  box-sizing: border-box;
}

.header-banner {
  height: 100px;
  background-image: url(img/pattern.png);
  background-size: 20%;
  background-color: #4EA0FF;
  position: relative;
}

.header img {
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
}

.title-article h1 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.info-article {
  color: #888888;
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 0.9em;
}

.data-article {
  font-size: 0.85em;
}

.info-article a {
  text-decoration: none;
  color: #65C4ED;
  font-weight: 600;
}

.image-article section > p {
  margin: 0;
  font-size: 0.75em;
}

.text-article p > span {
  background-color: #FCFF00;
}

.ul-article ul {
  padding-left: 0px;
  list-style-position: inside;
}

.table-article table {
  border-collapse: collapse;
  margin-top: 35px;
}

.table-article table > thead {
  text-align: left;
  background-color: #20A9E5;
  color: #fff;  
}

.table-article table tr > th:nth-child(3) {
  width: 48%;
}

.table-article tbody > tr:nth-child(odd) {
  background-color: #B1E5F2;
}

footer span {
  color: #888888;
  font-weight: 900;
  font-size: 0.9em;
}

.img-footer {
  width: 200px;
  position: relative;
  margin-top: 5px;
}

.img-footer img {
  width: 100%;
}

.img-footer span {
  color: #fff;
  position: absolute;
  top: 0px;
  left: 0;
  margin: 7px;

}